<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DataBaseLayer.Properties.DBSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <DataBaseLayer.Properties.DBSettings>
            <setting name="DBName" serializeAs="String">
                <value>music_fact_generator</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
        </DataBaseLayer.Properties.DBSettings>
    </userSettings>
</configuration>